.container-xxl {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.nav-link {
  color: black;
}

input.form-control {
  flex-grow: 2;
  border-radius: 25px;
  padding: 5px;
  font-size: 16px;
}

button.btn {
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 14px;
  color: black;
}

.btn-outline-success {
  color: #fff;
  border-color: #ff6600;
}

.btn-outline-success:hover {
  background-color: #ff0000;
  color: #fff;
  border-color: #ff0000;
}

.navbar-collapse ul.navbar-nav .nav-item .nav-link {
  font-size: 14px;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  padding: 5px 15px;
}

.navbar-collapse ul.navbar-nav .nav-item .nav-link {
  color: #333;
}

.navbar-collapse ul.navbar-nav .nav-item .nav-link:hover {
  color: #ff6600;
}

.dropdown-menu {
  background-color: #fff;
}

.dropdown-menu .dropdown-item {
  color: #333;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #ff6600;
  color: #fff;
}

.form-control {
  background-color: #f0f0f0;
  color: #333;
}

.banner-homepage {
  height: 300px;
  overflow: hidden;
}

.banner-homepage img {
  width: 100%;
  height: auto;
}

.banner-homepage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-page {
  background-color: #f2f2f2;
  padding: 20px;
}

.title-product {
  display: inline-block;
  background-color: #f30000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none;
  font-weight: bold;
}

.title-product a {
  color: #fff;
  text-decoration: none;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 8px;
  width: calc(25% - 18px);
  box-sizing: border-box;
}

.product img {
  max-width: 100%;
  height: auto;
}

.product h3 {
  font-size: 18px;
  margin: 10px 0;
}

.product .desc a {
  color: #0d0d0e;
  text-decoration: none;
}

.product h4 {
  font-size: 14px;
  margin: 5px 0;
  color: #888;
}

.product .price {
  font-weight: bold;
  color: #e70c0c;
}

.product .btn-buy {
  background-color: #fe003e;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-size: 14px;
}

.product .btn-buy:hover {
  background-color: #ff6600;
}

.fa-star {
  color: #ffbb00;
}

footer {
  background-color: #fdebd2 !important;
  color: #393737;
  padding: 20px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-logo img {
  max-width: 100%;
  height: auto;
}

.footer-logo p {
  font-weight: bold;
  margin: 10px 0;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  color: #131212;
}

.footer-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 10px;
}

.footer-links ul li a {
  text-decoration: none;
  color: #161515;
  font-size: 14px;
}

.footer-links ul li a:hover {
  text-decoration: underline;
}

.footer-links ul + ul {
  margin-left: 90px;
}

.footer-social a {
  color: #c91d1d;
  text-decoration: none;
  font-size: 24px;
  margin-right: 10px;
}

.footer-text {
  text-align: center;
}

.footer-text p {
  margin: 10px 0;
}

.container-sm.login-admin {
  background-color: #c3c3c3;
  width: 30%;
}

.form-label {
  color: #333;
}

.form-control {
  font-size: 16px;
  color: #555;
}

.btn-primary {
  background-color: #ff2600;
  color: #fff;
  font-size: 18px;
}

.btn-primary:hover {
  background-color: #b30000;
}
